<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container" style="border: thin solid grey;">
    <div class="row">
    <div class="col-xs-6" id="breakfast">
        <div class="mealHeading"><span class="mealLabel">Breakfast </span><div class="buttons"><button id="addBreakfast" type="button" class="btn btn-outline-success btn-small"><span class="fa fa-plus"></span></button>
            <button type="button" class="btn btn-outline-danger btn-small"><span class="fa fa-minus"></span></button></div></div>
        <table class="table">
            <thead><tr>
                <th scope="col">Food</th>
                <th scope="col">Cal</th>
            </tr></thead>
            <tbody><tr th:each="food : ${breakfast}">
                <td th:text="${food.name}"></td>
                <td th:text="${food.caloricValue}"></td>
            </tr></tbody>
        </table>
    </div>
    <div class="col-xs-6" id="breakfast2" style="display:none; padding: 6px;">
        <h5>Add Breakfast</h5>
        <form method="post">
            <div class="form-group">
                <label>Name:
                    <input th:field="${food.name}" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>Calories:
                    <input th:field="${food.caloricValue}" class="form-control">
                </label>
            </div>
            <input style="display:none;" th:field="${food.meal}" th:value="${bf}">
            <div class="form-group">
                <input style="margin: 3px;" type="submit" value="Save" class="btn btn-success" id="breakfastSave">
                <input style="margin: 3px;" type="button" value="Cancel" class="btn btn-danger" id="breakfastCancel">
            </div>
        </form>

    </div>
    <div class="col-xs-6" id="lunch">
        <div class="mealHeading"><span class="mealLabel">Lunch </span><div class="buttons"><button id="addLunch" type="button" class="btn btn-outline-success btn-small"><span class="fa fa-plus"></span></button>
            <button type="button" class="btn btn-outline-danger btn-small"><span class="fa fa-minus"></span></button></div></div>
        <table class="table">
            <thead><tr>
                <th scope="col">Food</th>
                <th scope="col">Cal</th>
            </tr></thead>
            <tbody><tr th:each="food : ${lunch}">
                <td th:text="${food.name}"></td>
                <td th:text="${food.caloricValue}"></td>
            </tr></tbody>
        </table>
    </div>
    <div class="col-xs-6" id="dinner">
        <div class="mealHeading"><span class="mealLabel">Dinner </span><div class="buttons"><button id="addDinner" type="button" class="btn btn-outline-success btn-small"><span class="fa fa-plus"></span></button>
            <button type="button" class="btn btn-outline-danger btn-small"><span class="fa fa-minus"></span></button></div></div>
        <table class="table">
            <thead><tr>
                <th scope="col">Food</th>
                <th scope="col">Cal</th>
            </tr></thead>
            <tbody><tr th:each="food : ${dinner}">
                <td th:text="${food.name}"></td>
                <td th:text="${food.caloricValue}"></td>
            </tr></tbody>
        </table>
    </div>

    </div>
    <div class="row">
    <div class="col-xs-6" id="snack">
        <div class="mealHeading"><span class="mealLabel">Snacks </span><div class="buttons"><button id="addSnack" type="button" class="btn btn-outline-success btn-small"><span class="fa fa-plus"></span></button>
            <button type="button" class="btn btn-outline-danger btn-small"><span class="fa fa-minus"></span></button></div></div>
        <table class="table">
            <thead><tr>
                <th scope="col">Food</th>
                <th scope="col">Cal</th>
            </tr></thead>
            <tbody><tr th:each="food : ${snack}">
                <td th:text="${food.name}"></td>
                <td th:text="${food.caloricValue}"></td>
            </tr></tbody>
        </table>
</div>
</div>
</div>

</body>
</html>